/* Global Styles */
body, html {
  font-size: 16px;
  background-color: #f2f3f7;
  min-height: 100vh;
}

body, .form-control, .btn {
  font-size: 0.9rem;
}

#root, .App {
  min-height: 100vh;
}

/* Buttons */
.btn {
  font-weight: 500;
  padding: 0.66rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.btn-light {
  border-color: #dedede;
}

.btn-light:hover {
  border-color: #cecece;
  background-color: #f3f3f3;
}

/* Links */
.App-link {
  color: #61dafb;
}

/* Shadows */
.shadow {
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.05) !important;
}

/* Cards and Modals */
.modal-content,
.card {
  overflow: hidden;
  border-radius: 0.75rem;
}

/* Horizontal Rule */
hr {
  opacity: 0.1;
}

/* Tables */
.table th {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.table td {
  text-align: left;
}

.table tr th:first-child,
.table tr td:first-child {
  padding-left: 0.75rem;
}

.table tr th:last-child,
.table tr td:last-child {
  padding-right: 0.75rem;
}

/* Forms */
.form-control {
  background-color: #f5f7f9;
  font-weight: 400;
  padding: 0.5rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  transition: all 0.3s ease;
}

.form-control:hover,
.form-control:focus {
  background-color: #ffffff;
  border-color: #61dafb;
}

.form-control::placeholder,
.form-control::-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #9fa8b0;
}

/* Invoice Capture */
#invoiceCapture {
  user-select: none;
}

/* Responsive Font Sizes */
@media (max-width: 768px) {
  body, html {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  body, html {
    font-size: 18px;
  }
}
